h1 {
    color: orange;
    text-align: center;
    font-size: 48px;
    font-family: "Major Mono Display";
}
h2{
    color:white;
    text-align: center;
    font-family: "Audiowide";
}
h4{
    color: white;
}
